$color-primary: #3c8dbc; //#20a0ff;//#18c79c

$sidebar-width: 200px;
$collapse-sidebar-width: 64px;



$color-gray:#D3DCE6;
$color-light-gray:#E5E9F2;
$color-extra-light-gray:#EFF2F7;

$color-dark-white:#F9FAFC;
$color-white:#FFFFFF;

$radius-px:0px;







